parameters:


database:
	dsn: 'mysql:host=127.0.0.1;dbname=dbname'
	user: newuser
	password: password
	options:
		lazy: yes

doctrine:
	user: newuser
	password: password
	dbname: dbname
#	metadata:
#		App: %appDir%/entities